page-profile {


.name{
  padding-top: 10px;
}

.basic-info{
  padding-top: 10px;
  margin-left: 10px;
}

ion-row > ion-col:nth-of-type(1){
  color: #848484;

}

ion-row >ion-col:nth-of-type(2):hover{
  color: #A901DB
}


}
