page-home {

p{
  font-size: 20px;
  code{
    color: red;
  }
}

h2{
  font-size: 40px;
}

.profile-name{
  margin-left: 10px;
  padding-top: 5px;
}

.profile-bairth-day{
  margin-left: 10px;
}

ion-avatar > img{
  border-radius: 10%;

}


}
